
*.vsidx
*.vsidx
*.vsidx
*.sqlite
.vs/VSWorkspaceState.json
.vs/Dhaou-Jawhar-4SE5/FileContentIndex/3fadec64-afc9-4315-a1df-ea56a513f555.vsidx
*.vsidx
.vs/Dhaou-Jawhar-4SE5/v17/.suo
*.v2
.vs/EmnaKhanfir-4SE5/v17/.wsuo
*.2
*.2
