
*.vsidx
*.vsidx
*.vsidx
*.sqlite
.vs/VSWorkspaceState.json
.vs/Dhaou-Jawhar-4SE5/FileContentIndex/3fadec64-afc9-4315-a1df-ea56a513f555.vsidx
*.vsidx
.vs/Dhaou-Jawhar-4SE5/v17/.suo
*.v2
.vs/EmnaKhanfir-4SE5/v17/.wsuo
*.2
*.2
.vs/slnx.sqlite
*.json
*.sqlite
*.2
.vs/EmnaKhanfir-4SE5/v17/.wsuo
.vs/Dhaou-Jawhar-4SE5/v17/.suo
*.v2
*.2
.vs/Dhaou-Jawhar-4SE5/DesignTimeBuild/.dtbcache.v2
.vs/Dhaou-Jawhar-4SE5/DesignTimeBuild/.dtbcache.v2
.vs/Dhaou-Jawhar-4SE5/DesignTimeBuild/.dtbcache.v2
.vs/Dhaou-Jawhar-4SE5/v17/.futdcache.v2
.vs/Dhaou-Jawhar-4SE5/v17/.suo
.vs/ProjectEvaluation/dhaou-jawhar-4se5.metadata.v5.2
*.sqlite
*.json
*.2
*.2
.vs/Dhaou-Jawhar-4SE5/v17/.suo
.vs/Dhaou-Jawhar-4SE5/v17/.futdcache.v2
.vs/Dhaou-Jawhar-4SE5/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/dhaou-jawhar-4se5.metadata.v5.2
.vs/ProjectEvaluation/dhaou-jawhar-4se5.projects.v5.2
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
